



.main-title {
  font-size: x-large;
  font-family: sans-serif;
}

main{
    display: flex;
    justify-content: space-around;
    font-family: sans-serif;

}

.main-content{
    flex: 1;
    padding: 12px;
}

.input-title{
    font-weight: bold;
    padding: 2px;
}

.form{
    background-color: lightblue;
    padding: 12px;
    border-radius: 8px;
}

.button{
    height: 25px;
    border-radius: 5px;
}

.submit{
    background-color: rgb(4, 191, 238);
    border-color: rgb(7, 170, 170);
    width: 100px;
    height: 35px;
    color: white;
}

.reset{
    background-color: rgb(250, 209, 209);
    border-color: rgb(181, 202, 202);
    width: 60px;
    height: 35px;
    color: black;
}
.imgfooter{
    width: 200px;
}
div.inputan{
    padding: 5px;
}
input.inputan{
    width: 100%;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4px;
    font-size: 12px;
    background-color: white;
    background-repeat: no-repeat;
    padding: 10px 10px 12px 12px;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button { 
    -webkit-appearance: none; margin: 0; 
}
.output-bmi{
    text-align: center;
    background-color: azure;
}
.button-right{
    background-color: rgb(4, 191, 238);
    border-color: rgb(7, 170, 170);
    width: auto;
    height: 35px;
    color: white;
    border-radius: 5px;
}
.info-penyakit{
    background-color: azure ;
    text-align: center;
}
.hasil-bmi{
    font-size: larger;
    font-weight: 300;
    font-family: sans-serif;
}
.angka-bmi{
    font-size: 30px;
    font-weight: 500;
    font-family: sans-serif;
}
.ket-bmi{
    font-size: 13px;
    font-weight: 100;
    font-family: sans-serif;
}
p.info-penyakit {
    font-size: 18px;
    font-weight: 100;
    font-family: sans-serif;
}
.footer{
    text-align: center;
}